<a href="https://colab.research.google.com/github/rosefromtheashes/Machine-Learning-Bootcamp/blob/main/Definiowanie_w%C5%82asnych_funkcji.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Zdefiniuj funkcję o nazwie maximum(), która zwróci maksimum z dwóch liczb.

In [ ]:
def maximum(x, y):
  return max(x, y)

Zdefiniuj funkcję o nazwie maximum(), która zwróci maksimum z trzech liczb. W rozwiązaniu nie używaj funkcji wbudowanych.

In [ ]:
def maximum(x, y, z):
  if x > y and x > z:
    return x
  elif y > x and y > z:
    return y
  else:
    return z

Zdefiniuj funkcję o nazwie multi(), która jako parametr przyjmie obiekt iterowalny (list, tuple) oraz zwróci iloczyn wszystkich elementów listy.

In [ ]:
def multi(iterable):
    iloczyn = 1
    for liczba in iterable:
        iloczyn *= liczba
    return iloczyn

Napisz funkcję o nazwie map_longest(), która przyjmie listę słów i zwróci długość najdłuższego słowa.

In [6]:
def map_longest(words): #w nawiasie przyjmujemy argument words
  return max(map(len, words)) #mapujemy po długościach argumentów
map_longest(['python', 'sql'])

6

Napisz funkcję o nazwie filter_ge_6(), która przyjmie listę słów i zwróci słowa o długości większej lub równej 6 znaków.

In [12]:
def filter_ge_6(words):
  filtered_words = []
  for word in words:
    if len(word) >= 6:
      filtered_words.append(word)
  return filtered_words #pamiętaj o returnie

print(filter_ge_6(['programowanie', 'python', 'java', 'sql']))

['programowanie', 'python']

Napisz funkcję o nazwie factorial(), która obliczy wartość silni z danej liczby.

In [13]:
#algorytm rekurencyjny rozpisany
def factorial(number):
  if number > 1:
    return number * factorial(number - 1)
  return 1

print(factorial(6))

720

Funkcja jest wywoływana z argumentem 6.

Warunek if number > 1: jest spełniony (6 > 1), więc następuje wywołanie return number * factorial(number - 1).

Wewnątrz tego wyrażenia factorial(number - 1) jest wywołanie funkcji factorial() z argumentem 5.

Teraz funkcja factorial(5) jest wywoływana, i cały proces powtarza się dla liczby 5.

Proces powtarza się aż do momentu, gdy zostanie osiągnięty warunek brzegowy number <= 1.

Kiedy number osiągnie wartość 1 lub mniejszą, warunek brzegowy jest spełniony, a funkcja zwraca 1.

Napisz funkcję count_str(), która zwróci liczbę obiektów typu str w obiekcie iterowalnym (list, tuple, set).

In [18]:
def count_str(words):
  words_list = []
  for word in words:
    if isinstance(word, str):
      words_list.append(word)
  return len(words_list)

count_str(['p', 2, 4.3, None])
count_str({'p', 2, 4.3, True, 'True', None})

2

Napisz funkcję count_str(), która zwróci liczbę obiektów typu str o długości powyżej 2 znaków w obiekcie iterowalnym (lista, tuple, set).

In [21]:
def count_str(words):
  words_list = []
  for word in words:
    if isinstance(word, str) and len(word) > 2:
      words_list.append(word)
  return len(words_list)

count_str([1, '#hello', '', 'python', 'go'])

2

Napisz funkcję remove_duplicates(), która usunie duplikaty z listy (kolejność elementów nie musi być zachowana).

In [23]:
def remove_duplicates(elements):
  unique_elements = []
  for element in elements:
    if element not in unique_elements:
      unique_elements.append(element)
  return unique_elements

remove_duplicates([1, 5, 3, 2, 2, 4, 2, 4])

[1, 5, 3, 2, 4]

Napisz funkcję is_distinct(), która sprawdzi, czy lista zawiera unikalne wartości.

In [25]:
def is_distinct(elements):
  unique_elements = []
  for element in elements:
    if element not in unique_elements:
      unique_elements.append(element)
  if len(unique_elements) == len(elements):
    return True
  else:
      return False
is_distinct([1, 2, 3])

True

In [26]:
def function(idx, l=[]):
    for i in range(idx):
        l.append(i ** 3)
    print(l)

function(3)
function(5, ['a', 'b', 'c'])
function(6)

[0, 1, 8]
['a', 'b', 'c', 0, 1, 8, 27, 64]
[0, 1, 8, 0, 1, 8, 27, 64, 125]

Poprawna implementacja funkcji - ustawienie wartości None.

In [27]:
def function(idx, l=None):
    if l is None:
        l = []
    for i in range(idx):
        l.append(i ** 3)
    print(l)


function(3)
function(5, ['a', 'b', 'c'])
function(6)

[0, 1, 8]
['a', 'b', 'c', 0, 1, 8, 27, 64]
[0, 1, 8, 27, 64, 125]

In [28]:
def function(*args, **kwargs):
    print('args:', args)
    print('kwargs:', kwargs)

function(3, 4)
function(x=3, y=4)
function(1, 2, x=3, y=4)

args: (3, 4)
kwargs: {}
args: ()
kwargs: {'x': 3, 'y': 4}
args: (1, 2)
kwargs: {'x': 3, 'y': 4}

Zdefiniuj funkcję is_palindrome(), która za argument przyjmie obiekt typu str i sprawdzi czy podany ciąg znaków jest palindromem (wyrażenie brzmiące tak samo czytane od lewej do prawej i od prawej do lewej). Jeżeli tak, funkcja ma zwracać wartość logiczną True, przeciwnie False.

In [29]:
def is_palindrome(word):
  if isinstance(word, str):
    if word == word[::-1]:
      return True
    else:
      return False
is_palindrome('kajak')

True