<a href="https://colab.research.google.com/github/rosefromtheashes/Machine-Learning-Bootcamp/blob/main/Generatory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Zbuduj generator o nazwie file_gen(), który z otrzymanej listy z nazwami plików, wybierze tylko te z rozszerzeniem .txt.

In [ ]:
def file_gen(files):
  for file in files:
    if file.endswith('txt'):
      yield file

fnames = ['data1.txt', 'data2.txt', 'data3.txt', 'view.jpg']
x = file_gen(fnames)
for file in x:
  print(file)

data1.txt
data2.txt
data3.txt

Zaimplementuj generator o nazwie enum(), który działa podobnie jak funkcja wbudowana enumerate(). Dla uproszczenia generator ma pobierać obiekt iterowalny i zwracać obiekt typu tuple (indeks, element)

In [5]:
def enum(items):
    idx = 0
    for item in items:
        yield (idx, item)
        idx += 1

Zbuduj generator o nazwie dayname(), który przyjmie indeks elementu poniższej listy:

days = ['pon', 'wt', 'śr', 'czw', 'pt', 'sb', 'nd']

i pozwoli iterować po 3 dniach (dzień wcześniejszy, dzień obecny, dzień następny).

In [8]:
def dayname(start_index):
    days = ['pon', 'wt', 'śr', 'czw', 'pt', 'sb', 'nd']
    previous_day_index = (start_index - 1) % len(days)
    current_day_index = start_index
    next_day_index = (start_index + 1) % len(days)

    yield days[previous_day_index]
    yield days[current_day_index]
    yield days[next_day_index]


for pair in dayname(0):
    print(pair)

nd
pon
wt

In [ ]:
def even_numbers(n):
    for i in range(0, n):
        if i % 2 == 0:
            yield i
    pass

for number in even_numbers(10):
    print(number, end=',')

print()

for number in even_numbers(30):
    print(number, end=',')

In [13]:
def geometric_sequence(a, q, n):
    for i in range(n):
        yield a * q ** i
    pass


for num in geometric_sequence(1, 2, 10):
    print(num, end=',')

print()

for num in geometric_sequence(1, 4, 10):
    print(num, end=',')

print()

for num in geometric_sequence(1, 0.5, 5):
    print(num, end=',')

1,2,4,8,16,32,64,128,256,512,
1,4,16,64,256,1024,4096,16384,65536,262144,
1.0,0.5,0.25,0.125,0.0625,

In [14]:
def format_index(index):
    return '{:06}'.format(index)

# Przykłady użycia
print(format_index(105))
print(format_index(23))

000105
000023

In [ ]:
def order_number_generator(prefix, start, end):
    for num in range(start, end):
        formatted_num = '{:06}'.format(num)
        yield(f'{prefix}-{formatted_num}')
    pass


for order_num in order_number_generator('ORD', 100, 110):
    print(order_num)

print()

for order_num in order_number_generator('#111', 10, 20):
    print(order_num)

In [15]:
def pascal_triangle():
    row = [1]  # Pierwszy wiersz trójkąta Pascala
    while True:
        yield row
        next_row = [1]
        for i in range(len(row) - 1):
            next_row.append(row[i] + row[i + 1])
        next_row.append(1)
        row = next_row
    pass


triangle = pascal_triangle()

for i in range(10):
    print(next(triangle))

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]