<a href="https://colab.research.google.com/github/rosefromtheashes/Machine-Learning-Bootcamp/blob/main/Instrukcja_break.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Napisz program, który porówna te dwie listy i zwróci wartość True w przypadku gdy listy będą zawierały co najmniej jeden ten sam element. W przeciwnym razie zwróci wartość False. W rozwiązaniu użyj instrukcji break.

In [ ]:
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]
result = False #ustawiamy wejściowy rezultat

for item1 in list1: #dla każdej iteracji w 1. liście
    if item1 in list2: #jeżeli iteracja występuje w 2. liście
        result = True #rezultat zmienia się na prawdziwy
        break #i kończymy działanie pętli
print(result)

True

Sprawdź, czy każdy obiekt z tej listy jest obiektem klasy str. Jeżeli tak wydrukuj wartość True, w przeciwnym przypadku wydrukuj wartość False. W rozwiązaniu użyj instrukcji break.

In [ ]:
hashtags = ['holiday', 'sport', 'fit', None, 'fashion']

result = False

for hashtag in hashtags:
  if hashtag is str:
    result = True
    break

print(result)

False

Napisz program, który sprawdzi, czy podana liczba jest liczbą pierwszą:

number = 13

Jeśli podana liczba jest pierwsza wydrukuj do konsoli:
'13 - is a prime number'

Jeśli podana liczba nie jest pierwsza wydrukuj do konsoli:
'13 - is not a prime number'

W rozwiązaniu użyj instrukcji break.

In [ ]:
number = 13

if number > 1: #Liczba pierwsza najmniejsza to 2
    for i in range(2, number):
        if number % i == 0:
            print(f'{number} - is not a prime number')
            break
    else:
        print(f'{number} - is a prime number')
else:
    print(f'{number} - is not a prime number')

NameError: ignored

Wykorzystując pętlę for oraz instrukcję break, sprawdź czy podany produkt jest dostępny w sklepie. Jeśli dostępny produkt pasuje do zapytania użytkownika, wydrukuj komunikat informujący, że produkt został znaleziony:

Product found: Sneakers

Jeśli pętla zakończy się bez znalezienia pasującego produktu, wydrukuj komunikat, że produkt nie został znaleziony:

Product not found

In [ ]:
products = ['T-shirt', 'Jeans', 'Sneakers', 'Backpack', 'Watch']
query = 'Sneakers'

result = 'Product not found'

for product in products:
  if query == product:
    result = print(f'Product found: {query}')
    break

Product found: Sneakers

Wykorzystując pętlę for oraz instrukcję break, sprawdź czy podany kurs jest dostępny na platformie. Jeśli dostępny kurs pasuje do zapytania użytkownika, wydrukuj komunikat informujący, że kurs został znaleziony:

Course found: Big Data

Jeśli pętla zakończy się bez znalezienia pasującego produktu, wydrukuj komunikat, że produkt nie został znaleziony:

Course not found

In [ ]:
courses = [
    'Introduction to Python',
    'Web Development',
    'Data Science',
    'Artificial Intelligence',
]
query = 'Big Data'
result = 'Course not found'

for course in courses:
  if query == course:
    print(f'Course found: {query}')
    break

print(result)

Course not found

Twoim zadaniem jest wydrukowanie nazwisk pracowników wraz z pensją tak jak pokazano poniżej do momentu, gdy znajdziemy pracownika z pensją poniżej minimalnej kwoty ustalonej na 55000:

min_salary = 55000

Jeśli pracownik zarabia 55000 lub powyżej to wydrukuj do konsoli informację w poniższej postaci:
'John has a salary of $60000'

Jeśli pracownik zarabia poniżej minimalnej kwoty to wydrukuj do konsoli informację w poniższej postaci:
'STOP! Bob with $40000'

In [ ]:
employees = [
    {'name': 'John', 'salary': 60000},
    {'name': 'Jane', 'salary': 55000},
    {'name': 'Bob', 'salary': 40000},
    {'name': 'Sara', 'salary': 70000},
    {'name': 'Mike', 'salary': 52000},
]
min_salary = 55000

for employee in employees:
  if employee['salary'] >= min_salary:
    print(f"{employee['name']} has a salary of ${employee['salary']}")
  else:
    print(f"STOP! {employee['name']} with ${employee['salary']}")
    break

John has a salary of $60000
Jane has a salary of $55000
STOP! Bob with $40000

Potrzebujesz znaleźć pierwszego kierowcę z oceną co najmniej 4.5 i wydrukować jego nazwisko tak jak poniżej:
'Suitable driver found: {last_name}'

Jeśli żaden kierowca nie ma oceny co najmniej 4.5,  wydrukuj komunikat informujący, że nie znaleziono odpowiedniego kierowcy tak jak poniżej:
'No suitable driver found.'

Oczekiwany wynik:

Suitable driver found: Alice

In [ ]:
taxi_drivers = [
    ('John', 4.2),
    ('Jane', 4.45),
    ('Bob', 4.3),
    ('Alice', 4.8),
    ('Mike', 3.9),
]

suitable_driver_found = False #musimy wprowadzić to na początku, co pozwoli nam
#zmieniać wartości logiczne

for driver in taxi_drivers:
    if driver[1] >= 4.5:
        print(f'Suitable driver found: {driver[0]}')
        suitable_driver_found = True

if not suitable_driver_found:
    print('No suitable driver found.')

Suitable driver found: Alice

Potrzebujesz znaleźć pierwszy post, który ma co najmniej 100 polubień i wydrukować jego treść. Jeśli żaden post nie ma co najmniej 100 polubień, wydrukuj poniższą wiadomość, że nie znaleziono popularnego postu:
'No popular post found.'

Oczekiwany wynik:

Vestibulum at ipsum ac diam sollicitudin tempor.

In [2]:
posts = [
    {
        'text': 'Lorem ipsum dolor sit amet, consectetur elit.',
        'author': 'John',
        'likes': 52,
    },
    {
        'text': 'Nulla facilisi. Duis eu aliquam libero.',
        'author': 'Jane',
        'likes': 87,
    },
    {
        'text': 'Vestibulum at ipsum ac diam sollicitudin tempor.',
        'author': 'Bob',
        'likes': 113,
    },
    {
        'text': 'Curabitur lobortis luctus velit, et scelerisque eu.',
        'author': 'Alice',
        'likes': 78,
    },
    {
        'text': 'Suspendisse nec enim rutrum, vehicula lectus ut',
        'author': 'Mike',
        'likes': 99,
    },
]

result = 'No popular post found.'

for post in posts:
  if post['likes'] >= 100:
    result = print(post['text'])
    break

Vestibulum at ipsum ac diam sollicitudin tempor.