<a href="https://colab.research.google.com/github/rosefromtheashes/Machine-Learning-Bootcamp/blob/main/Zapisywanie_do_pliku.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Wygeneruj wszystkie liczby parzyste od 2 do 18 włącznie. Następnie zapisz każdą liczbę w osobnej linii do pliku o nazwie num.txt.

In [1]:
numbers = list(range(1, 20))
even = [number for number in numbers if number % 2 == 0]

with open('num.txt', 'w') as file:
    for num in even:
        file.write(str(num) + '\n')

Zapisz powyższe dane do pliku o nazwie users.csv (plik w formacie csv - comma-separated values) tak jak pokazano poniżej.

Zawartość pliku po zapisaniu:

user_id,amount

001,1400

004,1300

007,900

In [3]:
headers = ['user_id', 'amount']
users = [['001', '1400'], ['004', '1300'], ['007', '900']]

with open('users.csv', 'w') as file:
    file.write(','.join(headers) + '\n')
    for user in users: #muszę w liście iterować po listach
        file.write(','.join(user) + '\n')

zapisz każdy element listy w nowej linii pliku techs.txt. Oczekiwana zawartość pliku techs.txt:

python

java

sql

sas


Zwróć uwagę na ostatnią pustą linię.

In [ ]:
techs = ['python', 'java', 'sql', 'sas']

with open('techs.txt', 'w') as file:
  for tech in techs:
    print(tech, file = file)

Zapisz listę produktów do pliku tekstowego o nazwie products.txt. Każdy produkt zapisz jako wiersz, który składa się z nazwy produktu i ceny, oddzielonych przecinkiem. Każdy wiersz zakończ znakiem nowej linii \n.

Zawartość pliku products.txt po zapisaniu danych:

T-shirt,29.99

Shoes,99.99

Pants,49.99

In [5]:
products = [
    {'name': 'T-shirt', 'price': 29.99},
    {'name': 'Shoes', 'price': 99.99},
    {'name': 'Pants', 'price': 49.99},
]

with open('products.txt', 'w') as file:
  for product in products:
    print(product['name'], product['price'], sep = ',', file = file)

Zapisz te dane do pliku tekstowego stock_prices.txt. Każdą spółkę zapisz jako wiersz, który składa się z nazwy spółki i ceny akcji, oddzielonych średnikiem. Każdy wiersz zakończ znakiem nowej linii \n.

Zawartość pliku stock_prices.txt po zapisaniu danych:

AAPL;145.9

GOOG;2680.7

TSLA;712.6

AMZN;3379.1

In [8]:
stock_data = {
    'AAPL': 145.9,
    'GOOG': 2680.7,
    'TSLA': 712.6,
    'AMZN': 3379.1
}
with open('stock_prices.txt', 'w') as file:
  for company, price in stock_data.items():
    file.write(f'{company};{price}\n')

Za pomocą metody write() zapisz powyższe dane pacjenta do pliku o nazwie patient_data.txt tak jak pokazano poniżej:

First name: Jan

Last name: Kowalski

Weight: 75.5 kg

Height: 1.85 m

Date of birth: 1990-01-01

Chronic conditions: hypertension, diabetes

Hypertension medications: enalapril, hydrochlorothiazide

Diabetes medications: metformin

In [9]:
first_name = 'Jan'
last_name = 'Kowalski'
weight = 75.5
height = 1.85
date_of_birth = '1990-01-01'
chronic_conditions = ['hypertension', 'diabetes']
medications = {
    'hypertension_medications': ['enalapril', 'hydrochlorothiazide'],
    'diabetes_medications': ['metformin'],
}

with open('patient_data.txt', 'w') as file:
  file.write(f"First name: {first_name}\nLast name: {last_name}\nWeight: {weight} kg\nHeight: {height} m\nDate of birth: {date_of_birth}\nChronic conditions: {chronic_conditions}\nHypertension medications: {medications['hypertension_medications']}\nDiabetes medications: {medications['diabetes_medications']}")

In [10]:
first_name = 'Jan'
last_name = 'Kowalski'
weight = 75.5
height = 1.85
date_of_birth = '1990-01-01'
chronic_conditions = ['hypertension', 'diabetes']
medications = {
    'hypertension_medications': ['enalapril', 'hydrochlorothiazide'],
    'diabetes_medications': ['metformin'],
}

print(f"First name: {first_name}\nLast name: {last_name}\nWeight: {weight} kg\nHeight: {height} m\nDate of birth: {date_of_birth}\nChronic conditions: {', '.join(chronic_conditions)}\nHypertension medications: {', '.join(medications['hypertension_medications'])}\nDiabetes medications: {', '.join(medications['diabetes_medications'])}")

First name: Jan
Last name: Kowalski
Weight: 75.5 kg
Height: 1.85 m
Date of birth: 1990-01-01
Chronic conditions: hypertension, diabetes
Hypertension medications: enalapril, hydrochlorothiazide
Diabetes medications: metformin